# basics
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd

# local envs & caches
.env
.venv/
venv/
.python-version
home/
node_modules/
models/
input/
output/
*.sqlite
*.ckpt
*.pth
*.pt

# exclude alembic DB templates and other local-only files that break tar
alembic_db/
alembic_db/script.py.mako